/* Own styles voor Timesheet thema */

/* Start Reset styling for Administration menu */
body.adminimal-menu.admin-menu.menu-render-newline {
    margin-top: 58px !important;
}
body.admin-menu.adminimal-menu:before {
    height: 0;
}
/* End Reset styling for Administration menu */

body {
    font-size: 16px;
    font-family: 'Arial', 'sans-serif';
}

a {
    cursor: pointer;
}

.node.node__client {

}
    .node.node__client .content .field {
        margin-bottom: 20px;
    }
    .node.node__client .field-name-field-logo .field-items {
        display: inline-block;
        border-radius: 20px 20px;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    .node.node__client .field-name-field-logo img {
        display: block;
        margin: 0;
    }
    .node.node__client .field-name-field-categorie h3 {
        font-size: 1.071em;
        font-weight: bold;
    }


.page-worklog form .container-inline-date,
.page-worklog form .form-item {
    position: relative;
    margin-top: 0.2em;
    margin-bottom: 1em;
}
    .page-worklog form .container-inline-date .form-item {
        margin-top: 0;
        margin-bottom: 0;
    }
    .page-worklog form .form-item #autocomplete {
        background: #fff;
    }
    .page-worklog form .form-item #autocomplete .reference-autocomplete {
        padding: 3px 5px;
    }
    .page-worklog form .form-item-hours input.warning {
        border: 1px solid red;
        background: #ff9999;
    }
    .page-worklog form .form-item-hours input.success {
        border: 1px solid green;
        background: #79d279;
    }

